project:
  type: book
  output-dir: docs


book:
  title: "2022-2024 Community Health Assessment"
  subtitle: "Polk-Norman-Mahnomen Community Health Services" #Only used for HTML output Subtitle PDF defined in in before-body.tex
  date: last-modified
  downloads: [pdf]
  search: TRUE
  sidebar:
    logo: "pages/Attachments/logo_PNM.png"
  chapters:
    - index.qmd
    - pages/010_understandingCHA.qmd
    - pages/020_localAssessments.qmd
    - pages/030_demographics.qmd
    - pages/040_factorsInfluencingHealth.qmd
    - pages/050_healthStatus.qmd
    - pages/060_healthBehaviors.qmd
    - pages/070_healthConditions.qmd
    - pages/080_mentalHealth.qmd
    - pages/090_environmentalHealth.qmd
    - pages/900_references.qmd
    - pages/901_missionStatement.qmd
    
bibliography: references.bib

format:
  pdf:
    # Title page title defined in before-body.tex
    documentclass: scrreprt #default https://quarto.org/docs/output-formats/pdf-basics.html#document-class
    # papersize: A4
    # classoption: landscape
    geometry:
      - inner=1cm
      - outer=1cm
      - top=1cm
      - bottom=1cm
      - headsep=10pt
      - headheight=10pt
      - footskip=33pt
      - ignorehead
      - ignorefoot
      - heightrounded
      # - showframe
    mainfont: "Times New Roman"
    toc: true
    toc-depth: 3
    colorlinks: true
    number-sections: false
    indent: true
    template-partials:
     - before-body.tex
    include-in-header:
     - include-in-header.tex
    fig-pos: "H"
    link-citations: true
    #keep-tex: TRUE
    
  html:
    # subtitle: "Polk-Norman-Mahnomen Community Health Services" If uncommented here it will display on every page
    theme: cosmo
    # title-block-banner: "#00295D"
    # title-block-banner-color: "#A9B849"
    # title-block-style: plain
    link-external-icon: true
    link-external-newwindow: true
    number-sections: false
     
execute:
  echo: false

# if this isn't set globally default for date: will be published
published-title: "Last updated"  

toc-title: "Table of Contents"

editor: visual

# Thank you mcanouil for your great online feedback for subcaptions and captions design was based on this dicussion https://github.com/quarto-dev/quarto-cli/discussions/7308  